@model BookSiteProject.Application.Commands.BookCommands.DeleteBook.DeleteBookCommand

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DeleteBookCommand</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfPublication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfPublication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Publisher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>

    </dl>
    
    <form asp-action="Delete" method="post">
        @Html.HiddenFor(model => model.EncodedName)
        @Html.HiddenFor(model => model.Title)
        @Html.HiddenFor(model => model.Description)
        @Html.HiddenFor(model => model.YearOfPublication)
        @Html.HiddenFor(model => model.Publisher)
        @Html.HiddenFor(model => model.ISBN)
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
