@model IEnumerable<BookSiteProject.Application.Dtos.BookDto>
@using BookSiteProject.Application.Commands.BookOfferCommands.CreateBookOffer

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {

        <div class="card m-3" style="width: 18rem;">
            @if (!string.IsNullOrEmpty(item.ImagePath))
            {
                <img class="card-img-top" src="@item.ImagePath" alt="Book image" />
            }
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Description</h6>
                <p class="card-text">@item.Description</p>
                <a class="btn btn-primary" asp-controller="Book" asp-action="Details" asp-route-encodedName="@item.EncodedName" >Details</a>
                @if(item.IsEditable)
                {
                    <a class="btn btn-info" asp-controller="Book" asp-action="Edit" asp-route-encodedName="@item.EncodedName">Edit</a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-danger" asp-controller="Book" asp-action="Delete" asp-route-encodedName="@item.EncodedName">Delete</a>
                }
                @if (User.Identity.IsAuthenticated)
                {
                <button type="button" id="addBookOfferButton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createBookOffer" data-encoded-name="@item.EncodedName">
                    Add Book Offer
                </button>
                }
                <partial name="_CreateBookOffer" model="new CreateBookOfferCommand() {} " />
                @* @await Html.PartialAsync("_CreateBookOffer", new CreateBookOfferCommand() { BookEncodedName = item.EncodedName })*@
               
            </div>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/Book/test.js"> </script>
}